body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Red Hat Mono", monospace;
}

.date {
  font-style: italic;
}

.container {
  margin: 150px auto;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.greeting-card,
.form-card {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  background-color: #dae5d0;
}

/* ----- FORM AREA ----- */

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-heading {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}

.caracters-left {
  margin-top: 5px;
  font-size: 10px;
  color: gray;
}

.greeting-message {
  overflow-wrap: break-word;
  line-height: 1.6;
}

/* ----- THE BEATING BUTTON ----- */

.send-button {
  padding: 10px;
  cursor: pointer;
  background-color: #66806a;
  border-radius: 5px;
  font-family: "Red Hat Mono", monospace;
}

/* ----- THOUGHTS AREA ----- */

.likesWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */
  justify-content: space-between;
}

.button-and-like {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heart-button {
  border-radius: 50%;
  margin-right: 8px;
  color: red;
  background-color: pink;
  width: 40px;
  height: 40px;
  font-size: 25px;
}

.numberOfLikes {
  font-size: 13px;
  font-family: "Red Hat Mono", monospace;
}

.date {
  font-size: 12px;
  color: gray;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 35%;
  }
}
