body {
  margin: 0 auto;
  /* color: #555; */
  font-family: "Red Hat Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Red Hat Mono", monospace;
}

article {
  margin: 0 auto;
  width: 80%;
}

.wrapper {
  /* border: solid black 3px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* THIS IS THE CSS FOR CONTACT */

.phone {
  background-image: url(./assets/telefonlur-2.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position-y: center;
}

/* .instagram-logo {
  background-image: url(./assets/instagram-logga-2.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  left: 140px;
  width: 100%;
  height: 100%;
} */

.contact-text {
  position: absolute;
  top: 15%;
  left: 20%;
}

/* THIS IS THE CSS FOR THE NAVBAR */

/* ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 10px;
} */

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 20px;
  color: #555;
} */

/* a {
  color: blue;
  text-decoration: none;
}

a.active {
  color: red;
} */

/* THIS IS THE CSS FOR THE HEADER-PICTURE */

.header-picuter {
  background-image: url(./assets/Borje-paints-1.jpg);
  background-size: cover;
  background-position-y: 40%;
  background-repeat: no-repeat;
  width: 100%;
  height: 25rem;
  position: relative;
}

/* ------- TABLET ------- */

@media screen and (min-width: 768px) {
  /* THIS IS THE CSS FOR CONTACT */

  .phone {
    left: 30px;
  }

  .instagram-logo {
    left: 715px;
  }

  .contact-text {
    position: absolute;
    top: 25%;
    left: 40%;
    font-size: 120%;
  }
}

/* ------- LAPTOP ------- */

@media screen and (min-width: 1024px) {
  /* THIS IS THE CSS FOR CONTACT */

  .instagram-logo {
    top: 4px;
    left: 140px;
  }

  .contact-text {
    top: 30%;
    left: 45%;
  }
}
